* {
  margin: 0;
}
html,body {
    background-image: url("../images/gravel.png");
    margin:0px;
    height:100%;
}
.navbar-header {
    background-color:white;
    margin-bottom:20px;
}
.nav-links {
    margin-left:250px;
    color:#777777;
}
.name {
    background-color:teal;
    color:white;
    padding:10px;
}
.a-about {
    margin-right:10px;
    color:#777777;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
.a-portfolio {
    margin-right:10px;
    color:#777777;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
.a-contact {
    margin-right:10px;
    color:#777777;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
#aboutme {
    background-color:white;
    color:teal;
    margin-bottom:0px;
    margin-top:10px;
    padding-bottom:10px;
}
#hr {
    margin-top:0px;
    background-color:white;
    padding:10px;
    padding-bottom:0px;
}
.pic {
    padding-top:10px;
}
.text {

}
.row1,.row2 {
    background-color:white;
    color:#777777;
}
.site-footer {
    background-color:#666666;
    color:white;
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -40px;
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 40px;
  padding:10px;
}
#main-content-contact {
    background-color:#ffffff;
    border-color:#dddddd;
    margin-top:30px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 125%;
    padding:10px;
}
.contactme-background {
    background-color:#ffffff;
}
#contactme {
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color:#ffffff;
    color:#4aaaa5;
}
#nameContact, #emailContact, #messageContact {
    color:#777777;
}
 #submitbutton {
     margin-bottom:20px;
 }
 #nameinput,#emailinput,#messageinput {
     width:100%;
 }
